.navbar {
    background-color: #BF4141;
    border-bottom: 15px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.title > h1 {
    color: white;
    margin-left: 16px;
}

.nav-buttons > a {
    color: white;
    font-size: 18px;
    margin-right: 16px;
    text-decoration: none;
}

.create-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokemon-form {
    border: 1px solid black;
    padding: 20px;
    width: 35%;
}

.form-row {
    margin-bottom: 16px;
}